<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<!--    <link rel="stylesheet" href="/static/css/style.css">-->
</head>
<body>
<div class="space-medium">
    <div class="container">
        <div class="row">
            <div class="table-center">
                <p>안녕하세요. 요만큼입니다!<br>
                    아래의 가입 코드를 입력해주세요</p>
                <h1 class="fan-only-h1 mail-code">가입 코드<br>
                    <h1 th:text="${code}"></h1></h1>
            </div>
        </div>
    </div>
</div>
</body>
</html>